.container {
	margin: var(--12) auto 0;
}

.container > h1 {
	font-size: var(--14);
	font-weight: 800;
	margin-bottom: var(--10);
}

.container > a {
	color: var(--black);
	font-size: var(--5);
}

.date {
	font-size: var(--3);
	line-height: var(--8);
	color: var(--gray-600);
}

.content, .paragraphContent {
	margin-top: var(--12);
}

.paragraphContent {
	overflow-wrap: break-word;
	line-height: var(--8);
	font-size: var(--5);
}

.img > * {
	border-radius: var(--2);
}

.hr {
	width: 100%;
	margin: var(--10) 0;
	opacity: 0.3;
}

.nav {
	display: flex;
	flex-wrap: wrap;
	padding: 0 var(--6);
}

.next {
	color: var(--black);
	margin-left: auto;
}

.prev {
	color: var(--black);
	margin-right: auto;
}

/* lg breakpoint */
@media (max-width: 1024px) {
	.container {
		padding: var(--4);
		max-width: var(--md);
	}

	.container > h1 {
		font-size: var(--9);
	}
}
