pnpm-workspace.yaml
pnpm-lock.yaml
CHANGELOG.md
LICENSE.md
CODE_OF_CONDUCT.md

.cache
.docusaurus
.next
build
coverage
dist
public

*.d.ts

# handlebars templates
*.hbs
**/templates/**
**/__tests__/fixtures/**