.container {
	display: flex;
	flex-direction: column;
	margin: auto;
	min-width: var(--lg);
	font-size: var(--5);
	font-weight: 400;
	line-height: var(--8);
}

.content {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}

.content > ul {
	padding-left: var(--6);
}

.content > a {
	display: inherit;
	margin-bottom: var(--8);
}

.content > a,
.content > ul a {
	text-decoration-line: underline;
	font-weight: 500;
}

.content > ul li {
	list-style: disc;
	margin: var(--4) 0;
	padding-left: var(--3);
}

/* lg breakpoint */
@media (min-width: 1024px) {
	.content {
		max-width: var(--md);
	}
}
