.altResult {
    display: flex; 
    margin-left: auto;
    margin-right: auto; 
    margin-top: 3rem; 
    font-size: 1.25rem;
    line-height: 1.75rem; 
    text-align: center; 
    flex-direction: column; 
}

.section {
    display: flex; 
    margin-left: auto;
    margin-right: auto; 
    margin-top: 2.5rem; 
    flex-direction: column; 
    max-height: 100vh; 
}

.container {
    margin-left: auto;
    margin-right: auto; 
    max-width: 32rem; 
}

.container > ul h2 {
	font-weight: 700;
    font-size: var(--7);
	margin-bottom: var(--8);
    justify-items: start; 
}

.link {
	text-decoration: underline;
}

@media (min-width: 1024px) { 
    .section {
		min-width: var(--md);
	}
    .container {
        max-width: 1024px; 
    }
}