:root {
	/* spacing */
	--px: 1px;
	--0: 0;
	--0_5: 0.125rem;
	--1: 0.25rem;
	--1_5: 0.375rem;
	--2: 0.5rem;
	--2_5: 0.625rem;
	--3: 0.75rem;
	--3_5: 0.875rem;
	--4: 1rem;
	--5: 1.25rem;
	--6: 1.5rem;
	--7: 1.75rem;
	--8: 2rem;
	--9: 2.25rem;
	--10: 2.5rem;
	--11: 2.75rem;
	--12: 3rem;
	--14: 3.5rem;
	--16: 4rem;
	--20: 5rem;
	--24: 6rem;
	--28: 7rem;
	--32: 8rem;
	--36: 9rem;
	--40: 10rem;
	--44: 11rem;
	--48: 12rem;
	--52: 13rem;
	--56: 14rem;
	--60: 15rem;
	--64: 16rem;
	--72: 18rem;
	--80: 20rem;
	--96: 24rem;

	--x-auto: 0 auto;
	--y-auto: auto 0;
	--auto: auto;

	/* screens */
	--xs: 512px;
	--sm: 640px;
	--md: 768px;
	--lg: 1024px;
	--xl: 1280px;
	--2xl: 1536px;

	/* colors */
	--white: #ffffff;
	--light-gray: #e2e8f0;
	--gray-600: #4b5563;
	--blue-100: #dbeafe;
	--blue-200: #bfdbfe;
	--blue-300: #93c5fd;
	--blue-700: #1d4ed8;
	--blue: #3b82f6;
	--indigo: #6366f1;
	--purple-300: #d8b4fe;
	--purple: #9333ea;
	--slate-200: #e2e8f0;
	--black: #000000;
	--text-body: #374151;
}

body,
html {
	font-family: System-UI;
	padding: 0;
	margin: 0;
	min-height: 100vh;
	min-width: 100vw;
	height: 100%;
	overflow-x: hidden;
}

h1 {
	margin-inline-end: 0;
	margin-inline-start: 0;
	margin-block-end: 0;
	margin-block-start: 0;
}
