:root {
	/* spacing */
	--px: 1px;
	--0: 0;
	--0_5: 0.125rem;
	--1: 0.25rem;
	--1_5: 0.375rem;
	--2: 0.5rem;
	--2_5: 0.625rem;
	--3: 0.75rem;
	--3_5: 0.875rem;
	--4: 1rem;
	--5: 1.25rem;
	--6: 1.5rem;
	--7: 1.75rem;
	--8: 2rem;
	--9: 2.25rem;
	--10: 2.5rem;
	--11: 2.75rem;
	--12: 3rem;
	--14: 3.5rem;
	--16: 4rem;
	--20: 5rem;
	--24: 6rem;
	--28: 7rem;
	--32: 8rem;
	--36: 9rem;
	--40: 10rem;
	--44: 11rem;
	--48: 12rem;
	--52: 13rem;
	--56: 14rem;
	--60: 15rem;
	--64: 16rem;
	--72: 18rem;
	--80: 20rem;
	--96: 24rem;

	--x-auto: 0 auto;
	--y-auto: auto 0;

	/* screens */
	--xs: 512px;
	--sm: 640px;
	--md: 768px;
	--lg: 1024px;
	--xl: 1280px;
	--2xl: 1536px;

	/* colors */
	--white: #FFFFFF;
	--light-gray: #E2E8F0;
	--light-blue: #DBEAFE;
	--blue: #3B82F6;
	--indigo: #6366F1;
	--black: #000000;
	--text-body: #374151;
	--slate-400: rgb(148 163 184);
	
}

body, html {
	max-height: 100dvh;
	max-width: 100dvw;
	overflow-x: hidden;
}
