.footer {
	margin-top: var(--12);
	display: flex;
	flex-direction: column;
	background-color: var(--black);
	justify-self: end;
}

.footer > * a:hover,
.footer > * a:first-child:hover,
.footer > * a:last-child:hover {
	color: var(--blue-100);
}

.footerNav {
	display: flex;
	flex-direction: column;
	min-width: var(--lg);
	margin-left: auto;
	margin-right: auto;
}

.footerUl {
	margin-top: var(--4);
}

.navItem {
	margin-left: var(--3);
	list-style-type: disc;
	color: var(--blue-300);
}

.navItemLink {
	color: var(--blue-300);
	text-decoration-line: none;
}

.navItem:hover {
	color: var(--blue-100);
}

.footerCopy {
	margin-top: var(--4);
	margin-bottom: var(--4);
	margin-left: auto;
	margin-right: auto;
	padding: var(--2);
	color: var(--white);
}

.footerCopyLink {
	text-decoration-line: underline;
}

.footerCopy > * a:first-child {
	color: var(--purple-300);
}

.footerCopy > * a:last-child {
	color: var(--blue-200);
}
