.errorMessage {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: var(--8);
}

.errorMessage > span {
	margin: var(--48) auto 0;
}

.errorMessage > a {
	text-decoration-line: underline;
}
