.container {
	max-width: var(--md);
	margin: var(--10) auto 0;
	line-height: var(--8);
}

.containerTitle {
	margin-bottom: var(--12);
	font-size: var(--12);
	font-weight: 800;
}

.container > a, .container > * a {
	text-decoration: underline;
	font-size: var(--5);
	font-weight: 500;
	color: var(--black);
}

.content {
	margin: var(--x-auto);
}

.content > p {
	margin-top: var(--12);
	font-size: var(--5);
}

/* lg breakpoint */
@media (max-width: 1024px) {
	.container {
		max-width: var(--sm);
	}

	.containerTitle {
		font-size: var(--8)
	}
}
