.container {
	margin: var(--10) auto;
	max-width: var(--md);
}

.container > h1 {
	font-size: var(--14);
	font-weight: 800;
	margin-bottom: var(--10);
}

.container > a {
	font-size: var(--5);
	color: var(--black);
}

.content {
	margin: var(--x-auto);
	font-size: var(--5);
	font-weight: 400;
	line-height: var(--8);
}

.content > ul {
	padding-left: var(--6);
}

.content > a {
	display: inherit;
	margin-bottom: var(--8);
}

.content > a, .content > ul a {
	color: var(--black);
	text-decoration: underline;
	font-weight: 500;
}

.content > ul li {
	list-style: disc;
	margin: var(--4) 0;
	padding-left: var(--3);
}
