.layout {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
	min-width: 100dvw;
}

.layout > main {
	margin-bottom: auto;
}

.footerCopy {
	margin: var(--x-auto);
}

.footerCopy > a {
	text-decoration: underline;
}

.footerCopy > a[href$='nextjs.org/'] {
	color: var(--white);
}

.footerCopy > a[href$='wordpress.com/'] {
	color: var(--blue);
}
