.layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  min-width: 100dvw;
}

.layout > main {
  margin-bottom: auto;
}

.footerCopy {
  margin: var(--x-auto);
}

.footerCopy > [href] {
  text-decoration: underline;
}

.footerCopy > [href$='nextjs.org/'] {
  color: var(--wite);
}

.footerCopy > [href$='wordpress.com/'] {
  color: var(--blue);
}
