.container {
    display: flex; 
    position: relative; 
    align-items: stretch; 
    width: 100%; 
}

.searchInput {
    padding-left: 0.75rem;
    padding-right: 0.75rem; 
    margin-right: -0.125rem; 
    background-color: transparent; 
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform; 
    transition-duration: 200ms; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
    font-size: 1rem;
    line-height: 1.5rem; 
    font-weight: 400; 
    height: 100%; 
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem; 
    border-width: 1px; 
    border-style: solid; 
    outline: 0; 
}

.searchBtn {
    display: flex; 
    position: relative; 
    padding-top: 0.625rem;
    padding-bottom: 0.625rem; 
    padding-left: 1.5rem;
    padding-right: 1.5rem; 
    color: #ffffff; 
    background-color: rgb(37 99 235);
    align-items: center; 
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem; 
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
}

.searchBtn:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
    background-color: rgb(29 78 216);
}

.icon {
    width: 1.25rem; 
    height: 1.25rem; 
}